.timer{
    font-size: 50px;
    border-radius: 12px;
    color: black;
    width: fit-content;
    box-shadow: 10px 5px rgba(26, 24, 24, 0.445);
}

.timer h1{
    background-color: white;
    border-radius: 12px;
    color: black;
    margin: 0;
}


