<div class="page-game">
    <div class="content">
        <header>
            <h4 class="logo">Word-Pass</h4>
            <ul>
                <li>Início</li>
                <li>Sobre</li>
                <li>Funcionalidades</li>
            </ul>
        </header>
        <main>
            <div class="scoreboard">
                <ul>
                    <li>
                        <h1>Fase atual</h1>
                        <h2>
                            Eliminatórias
                        </h2>
                    </li>
                    <li>
                        <h1>Pontos nesta rodada</h1>
                        <img src="" alt="Img pontos nesta rodada">
                    </li>
                    <li>
                        <h1>Total de pontos</h1>
                        <div class="teamScore">
                            <div class="player1">
                                <h1 >{{this.player1TeamA}}</h1>
                            </div>
                            <div class="player2">
                                <h1>{{this.player2TeamA}}</h1>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="container">
                    <a *ngIf="gameOff" (click)="isGameOn()">
                    <h1>Teste</h1>
                </a>
                <a>
                    <h1 *ngIf="gameOn">{{this.actualPassword}}</h1>
                </a>
            </div>

            <div class="commandLine">
                <a (click)="passIsWrong()">Errou</a>
                <a (click)="passIsRight()">Acertou</a>
                <a>Pulou</a>
                <a (click)="getPass()">Palavra na Tela</a>
            </div>
        </main>
    </div>
</div>