<div class="page-game">
  <div class="content">
    <header>
      <h4 class="logo">Word-Pass</h4>
      <ul>
        <li>Início</li>
        <li>Sobre</li>
        <li>Funcionalidades</li>
      </ul>
    </header>
    <main>
      <div class="scoreboard">
        <ul>
          <li>
            <h1>Fase atual</h1>
            {{ gameRule?.stage }}
          </li>
          <li>
            <h1>Pontos nesta rodada</h1>
            00
          </li>
          <li>
            <h1>Total de pontos</h1>
            <div class="teamScore">
              <div class="player1">
                <h1>00</h1>
              </div>
              <div class="player2">
                <h1>00</h1>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="container">
        <a>
          <h1>{{ word }}</h1>
        </a>
      </div>

      <div class="commandLine">
        <button (click)="passIsWrong()" [disabled]="this.block">Errou</button>
        <button (click)="passIsRight()" [disabled]="this.block">Acertou</button>
        <button (click)="skip()" [disabled]="block">Pulou</button>
        <button (click)="getPass()">Palavra na Tela</button>
      </div>
    </main>
  </div>
</div>


<button (click)="teste('stage')">STAGE</button>
<button (click)="teste('words')">words</button>
<button (click)="teste('qty')">QTY</button>
<button (click)="testeOne()">Mae</button>
<button (click)="nasceuFilho()">nasceuFilho</button>
