<div class="page-game">
    <div class="content">
        <header>
            <h4 class="logo">Word-Pass</h4>
            <ul>
                <li>Início</li>
                <li>Sobre</li>
                <li>Funcionalidades</li>
            </ul>
        </header>
        <main>
            <div class="scoreboard">
                <ul>
                    <li>
                        <h1>Fase atual</h1>
                        <h2>{{ gameRule?.phase }}</h2>
                    </li>
                    <li>
                        <h1>Pontos nesta rodada</h1>
                        <h2>{{this.gameRule?.points}}</h2>
                    </li>
                    <li>
                        <h1>Total de pontos</h1>
                        <div class="teamScore">
                            <div class="player1">
                                <h1>{{this.teamPoints}}</h1>
                            </div>
                            <div class="player2">
                                <h1>00</h1>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="container">
                <a>
                    <h1>{{ word }}</h1>
                </a>
                <app-timer></app-timer>
            </div>

            <div class="commandLine">
                <button *ngIf="this.stage !== 1" (click)="passIsWrong()"
                    [disabled]="this.block || this.gameRule?.skip == 0">Errou</button>
                <button *ngIf="this.word !== 'Pronto para começar?'" (click)="passIsRight()"
                    [disabled]="this.block">Acertou</button>
                <button *ngIf="this.word !== 'Pronto para começar?'" (click)="skip()"
                    [disabled]="this.block || (this.gameRule?.stage !== 1 && this.gameRule?.skip == 0)">Pulou</button>
                <button (click)="getPass()" [disabled]="this.getWordBtn">Palavra na Tela</button>
                <button (click)="timeIsUp()">Próxima rodada</button>
            </div>
        </main>
    </div>
</div>