<div class="page-home">
    <div class="content">
        <header>
            <h4 class="logo">Word-Pass</h4>
            <ul>
                <li>Início</li>
                <li>Sobre</li>
                <li>Funcionalidades</li>
            </ul>
        </header>

        <main>
            <div class="grid">
                <div class="gridBrief">
                    <h4>Bem-vindo ao Word-Pass</h4>
                    <h1>O único jogo de adivinhação de palavras.</h1>
                    <p>Reúna seus amigos, família, pets e toda a vizinhança
                        e interaja com o auxílio dessa plataforma!</p>
                    <div class="btn">
                        <a id="2players">Jogar com 2 jogadores</a>
                        <a id="4players">Jogar com 4 jogadores</a>
                    </div>
                </div>
                <div class="gridImage">
                    <img src="/assets/images/grid-image.png" alt="Imagem do Jogo">
                </div>
            </div>
            <div class="footer">
                <h1>Como jogar?</h1>
                <div class="gridRules">
                    <div class="block1">
                        <h4>Classificatória</h4>
                        <p><i class="title">Quatro rodadas inicias (Eliminatórias):</i> <br>
                            2 times participam da eliminatória. Nesta fase, o jogador do primeiro time terá que acertar
                            5
                            senhas de 10 disponíveis. O jogador pode pular a palavra da vez quantas vezes quiser, porém
                            as
                            10 primeiras senhas entram em looping e se alternam. Ao terminar sua vez, o jogador inverte
                            com
                            quem está dando a dica para que ele jogue a mesma fase. O segundo time joga com o mesmo
                            objetivo. Cada palavra vale 1 ponto. Quem faz mais pontos, entra no jogo. Caso dê empate, há
                            uma
                            rodada decisória onde quem acerta mais palavras em 30 segundos, ganha (pode pular até 3
                            vezes).
                        </p>
                    </div>
                    <div class="block2">
                        <h4>Até onde você chega?</h4>
                        <p><i>Segunda fase: (6 rodadas de cada jogador)</i><br>
                            Nessa fase há 6 rodadas sendo a primeira começando com 10 senhas e a última 5 senhas. 1
                            senha é
                            diminuida por rodada, porém em todas as rodadas, os 2 jogadores precisam acertar 5 senhas.
                            O primeiro jogador do time vencedor agora tem que acertar 5 senhas de 10 na primeira rodada,
                            porém
                            ele tem apenas 3 chances de adivinhar a palavra. Caso as 3 dicas sejam dadas e a senha não
                            for
                            descoberta, essa senha é eliminada do conjunto de 10 senhas passando para a próxima palavra.
                            Ao
                            finalizar, novamente o jogador inverte com quem da as dicas. Se ambos conseguirem acertar
                            pelo
                            menos
                            5 senhas, passam para a próxima rodada contendo uma senha a menos.
                        </p>
                    </div>
                    <div class="block3">
                        <h4>Bonificações / Rodadas</h4>
                        <p> <i>As rodadas tem as seguintes recompensas:</i> <br>
                            Rodada 1 = R$10.000,00 | 10 senhas
                            Rodada 2 = R$25.000,00 | 9 senhas (Chegando nessa rodada, o jogador garante o prêmio,
                            independente
                            do resultado)
                            Rodada 3 = R$50.000,00 | 8 senhas
                            Rodada 4 = R$100.000,00 | 7 senhas
                            Rodada 5 = R$250.000,00 | 6 senhas
                            Rodada 6 = R$1.000.000 | 5 senhas</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>